html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.horizontal {
    display: flex;
    flex-direction: row;
  }

  .horizontal p {
    margin-right: 20px;
  }